* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background:#789a2e;
 
}
.container {
  min-height: 800px;
  text-align: center;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.timeline {
  margin: 0 auto;
  max-width: 750px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;


}
    
.banner{
  height: 100vh;
  place-content: center;
  font-family: "Garamond";
  font-size: 7em;
}
.message-and-settings{
  height: 100vh;
}

/* .timeline__component { */
  /* margin: 0 20px 20px 20px; */
/* } */

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 3;

}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}
.timeline__middle {
  position: relative;
  background: #ffffff;

}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
  margin-right: 25px;
}
.timeline__date{
  text-align: right;

} 


.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}


footer {
  width: 100%;
  min-height:30px;
  padding: 20px 0 40px 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  align-items: center;
  background: linear-gradient(to top, #e8a412, transparent);

}
.widget-container{
  position: relative;
  z-index: 2;

}
/*  message field */
.form-field {

  outline: none;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
  
}
form.widget-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}

button#send.button-primary {
  border-radius: 10px;
  background-color: #7747bf;
  color: white;
  border: none;
  line-height: 4;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.message-field {
  grid-area: message-field;
  outline: none;
  height: 7rem;
  margin: 10px 0;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 5px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.7;
  transition: all .5s;
  z-index: 2;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}

a.social:hover {
  opacity: 1.5;

}
/* .below{ */
  /* height: 80vh; */
/* } */
/* .below{ */
  /* background-image: url('img/Plant-Roots-rhizosphere.jpeg'); */
/* background-size: cover; */
/* } */
/* .footerSec{ */
  /* z-index: 2; */
/*  */
/* } */

.line-container{
  position: fixed;
  top: -2px;
  left:0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

 /* .refer{ */
  /* z-index: 2; */
  /* text-decoration: none; */
  /* color: #e8a412; */
  /* position: relative; */
/*  */
/* } */

nav li {
  position: relative;
  z-index: 2;
}
/*  */
/* .one{ */
  /* background: url('img/Plant-Roots-rhizosphere.jpeg'); */
/* background-size: cover; */
/* } */
#ground {
  min-width: 100%;
}

svg{
  display: inline-block;
  height: 100%;
}
.mainPage{
  height: 45vh;
  /* display: grid; */
  place-content: center;
  font-family: "Garamond";
  font-size: 4em;
}

.centered-small {
  display: block;
  width: calc(100% - 10em);
  max-width: 70em;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
}



.mySlides img{
  width: 50%;
  height: 50%;
  text-align: center;

}
 section {
  position: relative;
  width: 100%;
   overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* z-index: 10000; */
}
section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 10; */
  mix-blend-mode: color;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.below{
  background-image: url('img/Plant-Roots-rhizosphere.jpeg');
  background-size: cover;
  /* filter: brightness(60%); */
}
img .java{
  width: 10%;
  height: 10%;
}

#text {
  position: relative;
  text-align: center;
  color:  #e8a412;
  font-size: 4em;
  /* z-index: 2; */
  vertical-align: top;
}
#MYname{

  font-style: italic;
  color:  #e8a412;;
  position: relative;
  vertical-align: top;
font-size: 40px;
white-space: nowrap;

}
 .in{
  z-index: 2;
  text-decoration: none;
  color: #e8a412;
  text-align: center;
  position: relative;

 }
/* } */
.regular{
  color: rgb(142, 159, 34);
}

#road {
  z-index: 1;
}
.title{
  color: #fff;
}
.sec{
    position: relative;
    padding: 40px;
}
.sec2{
  position: relative;
  padding: 100px;
}
h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  color:#fff;
  text-align: center;
}

.sec2 h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  color:#fff;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color:#fff;
}
.sec p{
  font-size: 1em;
  color: #fff;
}



.navbar{
  margin-bottom: 0;
}

.navbar ul{
  list-style: none;
  background: #81be3f;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  grid-area: navigation;

}


.navbar li {
  list-style: none;
  margin-right: 2rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  padding: 25px 20px;
  font-family: arial;
  text-align: center;
  margin: 0;
}
.navbar a:hover {
  background: #ccc;
}
.linResume{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.button{
  display: inline-flex;
  text-align:center;
  padding: 0;
  height: 50px;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.button__text,
.linResume{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
}
/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #eeff02fd;
  background-color: #009578;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  text-align: center;
  font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* .fade { */
  /* animation-name: fade; */
  /* animation-duration: 1.5s; */
/* } */

/* @keyframes fade { */
  /* from {opacity: .4}  */
  /* to {opacity: 1} */
/* } */

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) { */
  /* .prev, .next,.text {font-size: 11px} */
/* } */
/* footer { */
  /* width: 100%; */
  /* min-height: 30px; */
  /* padding: 20px 0 40px 20px; */
  /* text-align: center; */
  /* align-items: center; */
/* } */




footer .copyright {
  top: -8px;
  font-size: .75em;
}
.list-items{
  font-size: 30px;
}


footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  transition: all .5s;
}
a.twitter {
  background-image: url(img/twitter.svg);
}
a.linkedin {
  background-image: url(img/linkedin.svg);
}
a.github {
  background-image: url(img/github.svg);
}
a.social:hover {
  opacity: 1;
}


/* .timeline__component--bg { */
/*  */
   /* animation:spin 2s ease-in-out; */
/* } */
/* @keyframes spin { */
   /* 100% {transform: rotate(360deg); transform:rotate(360deg); } */
/* } */
/*  */


.timeline__component--bg {

   animation:spin 2s ease-in-out;
}
@keyframes spin {
   100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}



@media (min-width: 768px) {

  section{
font-size: 5em;

  }
  .timeline__component--bg:hover img{
    transform: scale(1.5 ) rotate( 0.5turn);
    transition: all 2s;
  }
  .mainPage{
    height: 100vh;
    place-content: center;
    font-family: "Garamond";
    font-size: 4em;
  }
  /* .below{ */
    /* height: 150vh; */
  /* } */
  form.widget-container{
    width: 100%;
    height: 100%;

   }

   h2#text{
    color: #e8a412;
    font-size:4vw;
    text-align: center;
top: auto;
  }

 
}
@media (max-width: 1024px) {

  h2#text{
        color: #e8a412;
        font-size:10vw;
        z-index: 1;
        text-align: center;
      }

      .navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
            }

            /* .below{ */
              /* height: 100%; */

            /* section{ */
            /* height: 100%; */
            /* } */
            .banner{
              display: flex;
              flex-direction: column;
              margin-bottom: .5em;
              }
          }